@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins';
}



nav {
	width: 100%;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 1rem;
}

.bg-nav {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: auto;
	font-size: 1.25rem;
}

.right-item {
	display: flex;
	justify-content: space-around;
	width: 20%;
}

.right-item li {
	list-style: none;
}

.right-item li a {
	text-decoration: none;
	color: black;
}